[type="file"] 
  height: 0
  overflow: hidden
  width: 0


.file-container
  span
    padding: 1rem 50px
    border: 1px solid #cccccc
    margin-bottom: 2rem
    vertical-align: middle
  label 
    background: #f15d22
    border: none
    border-radius: 5px
    color: #fff
    cursor: pointer
    display: inline-block
    font-family: 'Lato-Bold', sans-serif
    font-size: inherit
    font-weight: 600
    margin-bottom: 1rem
    outline: none
    padding: 1rem 50px
    position: relative
    transition: all 0.3s
    vertical-align: middle

    &:hover 
      background-color: darken(#f15d22, 10%)
    
    &.btn-2 
      background-color: #99c793
      border-radius: 50px 0px 0px 50px
      overflow: hidden
      border: 1px solid #99c793
      
      &::before 
        color: #fff
        /*content: "\f382"*/
        font-family: "Lato-Bold"
        font-size: 100%
        height: 100%
        right: 130%
        line-height: 3.3
        position: absolute
        top: 0px
        transition: all 0.3s
      
      &:hover 
        background-color: darken(#99c793, 30%)
          
        &::before 
          right: 75%
    &.file_label
      border-top: 1px solid #ccc
      border-right:1px solid #ccc
      border-bottom: 1px solid #ccc
      background: #fff
      border-radius: 0px 5px 5px 0px
      min-width: 250px
      max-width: 250px
      color: #ddd
      padding: 1rem 0px 1rem 10px 
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

.form-group
  margin-bottom: 1rem

.row 
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  margin-right: -15px
  margin-left: -15px
.col-sm-2, .col-sm-10
  position: relative
  width: 100%
  min-height: 1px
  padding-right: 15px
  padding-left: 15px
.col-sm-2
  -webkit-box-flex: 0
  -ms-flex: 0 0 16.666667%
  flex: 0 0 16.666667%
  max-width: 16.666667%
.col-sm-10
  -webkit-box-flex: 0
  -ms-flex: 0 0 83.333333%
  flex: 0 0 83.333333%
  max-width: 83.333333%

.form-control
  display: block
  width: 100%
  padding: .375rem .75rem
  font-size: 1rem
  line-height: 1.5
  color: #495057
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: .25rem
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
.form-group
  display: inline-block
  margin-bottom: 15px
  vertical-align: middle


// In navbar-form, allow folks to *not* use `.form-group`
.form-control
  display: inline-block
  width: auto // Prevent labels from stacking above inputs in `.form-group`
  vertical-align: middle
.form-inline
  .form-control
    display: inline-block
    width: auto
    vertical-align: middle
  
::placeholder /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6c757d
  opacity: 1 // Firefox
input[type="number"]
  -moz-appearance: textfield

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button
  -webkit-appearance: none 
  margin: 0 

.btn 
    display: inline-block
    font-weight: 400
    text-align: center
    white-space: nowrap
    vertical-align: middle
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    border: 1px solid transparent
    padding: .375rem .75rem
    font-size: 1rem
    line-height: 1.5
    border-radius: .25rem
    cursor: pointer
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
.btn-info
    color: #fff
    background-color: #17a2b8
    border-color: #17a2b8

/** error message**/
.error-tip 
    background-color: #fce4e4 
    border: 1px solid #fcc2c3 
    border-radius: 7px 
    -moz-border-radius: 7px 
    -webkit-border-radius: 7px 
    color: #cc0033 
    float: right 
    font-weight: bold 
    line-height: 24px 
    position: relative 
    padding: 7px 11px 4px 
    margin-left: 17px 

    &:after, &:before
        content: '' 
        border: 7px solid transparent 
        position: absolute 
        top: 11px 
    &:after 
        border-right: 7px solid #fce4e4 
        left: -14px 
    &:before 
        border-right: 7px solid #fcc2c3 
        left: -15px 