<div class="">
    <div class="form-group form-inline">
        <label for="tableWidth" class="col-sm-2" style="margin-right:4px">Width:</label>
        <input type="text" numbersOnly class="form-control" id="tableWidth" placeholder="Width of table"
            [(ngModel)]="tableWidth"><label>&#160;px</label>
            <div class="error-tip" *ngIf="errorCode ==1">{{errorMessage}}</div>
    </div><br/>
    <div class="form-group form-inline">
        <label for="tableHeight" class="col-sm-2">Height:</label>
        <input type="text" numbersOnly class="form-control" id="tableHeight" placeholder="Height of table"
        [(ngModel)]="tableHeight"><label>&#160;px</label>
        <div class="error-tip" *ngIf="errorCode ==2">{{errorMessage}}</div>
    </div>
    <div class="file-container" style="height:80px">
        <input type="file" id="file" (change)="fileChanged($event)" />
        <label for="file" class="btn-2" style="float:left">Choose a file</label><label class="file_label" for="file" style="float:left">{{fileName}}&#160;</label>
        <div class="error-tip" *ngIf="errorCode ==3" style="float:left">{{errorMessage}}</div>
    </div>
</div>

<div>
    <button type="button" class="btn btn-info" (click)="uploadDocument(false)">Normal Table</button>
    &#160;&#160;<button type="button" class="btn btn-info" (click)="uploadDocument(true)">Infinite Table</button>
</div>