
<h1>
    {{ title }}
</h1>
<div *ngIf="allItems == null">Please press Back to return home and browse json file</div>
<div *ngIf="allItems && !isInfinite" id="pagingParent">
    <app-paging-table
        [allItems]="allItems" [arrKeys]="arrKeys" 
        [tableWidth]="tableWidth" [tableHeight]="tableHeight"
        [childFn]="submitClick"></app-paging-table>
</div>

<div *ngIf="allItems && isInfinite" id="infiniteParent">
    <app-infinite-scroll
        [allItems]="allItems" [arrKeys]="arrKeys" 
        [tableWidth]="tableWidth" [tableHeight]="tableHeight"
        [childFn]="submitClick"></app-infinite-scroll>
</div>
<button type="button" class="btn btn-info" (click)="back()" [style.marginTop.px]="(allItems && !isInfinite) ? -10 : 10">Back</button>