/* paging control */
.pagination
    display: inline-block
    padding-left: 0
    margin: 20px 0
    border-radius: 4px
    >li
        display: inline
        >a
            position: relative
            float: left
            padding: 6px 12px
            margin-left: -1px
            line-height: 1.42857143
            color: #337ab7
            text-decoration: none
            background-color: #fff
            border: 1px solid #ddd
            cursor: pointer
    .disabled
        >a,>a:focus,>a:hover,>span,>span:focus,>span:hover
            color: #777
            cursor: not-allowed
            background-color: #fff
            border-color: #ddd
    >.active
        >a,>a:focus,a:hover,>span,>span:focus,span:hover
                z-index: 3
                color: #fff
                cursor: default
                background-color: #337ab7
                border-color: #337ab7
.text-center
    text-align: center
/** datatable*/
table.dataTable, table.dataTable th, table.dataTable td
    box-sizing: content-box

table.dataTable
    width: 100%
    margin: 0 auto
    clear: both
    border-collapse: separate
    border-spacing: 0
table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td 
    padding: 10px 18px
table.dataTable tbody th, table.dataTable tbody td
    padding: 8px 10px
.dataTables_scrollBody
    overflow: auto
    width: 100%
    table
        border-top: none
        margin-left: 0px
.dataTables_scrollHeadInner
    box-sizing: content-box
.dataTables_hidden_head
    padding-top: 0px !important
    padding-bottom: 0px !important
    border-top-width: 0px !important
    border-bottom-width: 0px !important
    height: 0px

table.blueTable 
    border: 1px solid #1C6EA4 
    background-color: #EEEEEE 
    width: 100% 
    text-align: left 
    border-collapse: collapse 
    tbody 
        td 
            font-size: 15px 
    tr 
        &:nth-child(even) 
            background: #D0E4F5 
    thead 
        background: #1C6EA4 
        background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%) 
        background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%) 
        background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%) 
        border-bottom: 1px solid #444444 
        th 
            font-size: 17px 
            font-weight: bold 
            color: #FFFFFF 
            border-left: 2px solid #D0E4F5 
            &:first-child 
                border-left: none 
    tfoot 
        font-size: 14px 
        font-weight: bold 
        color: #FFFFFF 
        background: #D0E4F5 
        background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%) 
        background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%) 
        background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%) 
        border-top: 1px solid #444444 
        td 
            font-size: 14px 
        .links 
            text-align: right 
            a 
                display: inline-block 
                background: #1C6EA4 
                color: #FFFFFF 
                padding: 2px 8px 
                border-radius: 5px 
table.blueTable td, table.blueTable th
    border: 1px solid #AAAAAA 
//	padding: 3px 2px 

.btn 
    display: inline-block
    font-weight: 400
    text-align: center
    white-space: nowrap
    vertical-align: middle
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    border: 1px solid transparent
    padding: .375rem .75rem
    font-size: 1rem
    line-height: 1.5
    border-radius: .25rem
    cursor: pointer
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
.btn-info
    color: #fff
    background-color: #17a2b8
    border-color: #17a2b8
.btn-xs
    padding: 1px 5px
    font-size: 12px
    line-height: 1.5
    border-radius: 3px