<div *ngIf="pagedItems && !isInfinite" [ngStyle]="{'width.px': tableWidth}">
    <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
        <div class="dataTables_scrollHeadInner" id="div_header_inner">
            <table id="fixed_header" class="dataTable blueTable">
                <thead>
                    <tr>
                        <th>&#160;</th>
                        <th *ngFor="let key of arrKeys; let i = index">{{key}}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="dataTables_scrollBody" id="div_body" [style.height.px]="tableHeight">
        <table id="fixed_body" class="dataTable blueTable">
            <thead>
                <tr>
                    <th class="dataTables_hidden_head"></th>
                    <th *ngFor="let key of arrKeys;" class="dataTables_hidden_head"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of pagedItems">
                    <td><button type="button" class="btn btn-info btn-xs" (click)="sendClick(row.id, row.status)">+</button></td>
                    <td *ngFor="let item of arrKeys; let i = index">{{row[item]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="padding: 20px 0 0 10px">View&#160;
        <select [(ngModel)]="itemPerPage" (change)="changeItemPerPage()">
            <option *ngFor="let item of [5,10,25,50,100]" [ngValue]="item">{{item}}</option>
        </select>&#160;records at a time.
    </div>
    <div class="text-center">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)" title="First">&#x276e;&#x276e;</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)" title="Previous">&#x276e;</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)" title="Next">&#x276f;</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)" title="Last">&#x276f;&#x276f;</a>
            </li>
        </ul>
    </div>
</div>
