table, th, td 
    margin : 10px 0
    border : solid 1px #333
    padding : 2px 4px
    font : 15px Verdana

th
    font-weight : bold

.page
    padding: 5px 5px
    cursor: pointer

.bold
    font-weight: bold
    color: red
