<div [ngStyle]="{'width.px': tableWidth}">
    <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
        <div class="dataTables_scrollHeadInner" id="div_header_inner">
            <table id="fixed_header" class="dataTable blueTable">
                <thead>
                    <tr>
                        <th>&#160;</th>
                        <th *ngFor="let key of arrKeys; let i = index">{{key}}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="dataTables_scrollBody" 
        id="div_body"
        appInfiniteScroller
        scrollPercent="70"
        immediateCallback="true"
        [scrollCallback]="scrollCallback" [style.height.px]="tableHeight">
        <table id="fixed_body" class="dataTable blueTable">
            <thead>
                <tr>
                    <th class="dataTables_hidden_head"></th>
                    <th *ngFor="let key of arrKeys;" class="dataTables_hidden_head"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of news">
                    <td><button type="button" class="btn btn-info btn-xs" (click)="sendClick(row.id, row.status)">+</button></td>
                    <td *ngFor="let item of arrKeys; let i = index">{{row[item]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>